@charset "UTF-8";
/*初期設定
-----------------------------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-size: 100%;
  line-height: 1.5;
}

/*layout
----------------------------------------------------*/
header h1 {
  margin: 1em 0;
  font-size: 3em;
  font-weight: normal;
  font-family: 'Marcellus SC', serif;
  text-align: center;
}
nav {
  text-align: center;
}
nav ul {
  display: none;
}
.tinynav {
  margin: 0 auto 50px;
  display: block;
}
#nav .selected a,
#nav2 .selected a {
  background: #800039;
}

/*media Queries
----------------------------------------------------*/
@media screen and (min-width: 480px) {
  .tinynav {
    display: none;
  }
  .tinynav_label {
    display: none;
  }
  nav ul {
    margin: 0 0 50px;
    display: block;
    list-style: none;
  }
  nav li {
    margin: 0 2px;
    display: inline-block;
  }
  nav a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 3px;
  }
  nav a:hover {
    background: #800039;
  }
  nav li ul {
    background: #fff;
    padding: 2px;
    position: absolute;
    border: solid 1px #ccc;
    display: none;
    width: 200px;
    text-align: left;
  }
  nav li ul li {
    display: list-item;
  }
  nav li ul li:last-child a {
    border-bottom: none;
  }
  nav li ul li a {
    display: block;
    background: #333;
    border-bottom: 1px solid #ccc;
  }
  nav li:hover > ul {
    display: block;
  }
}
