/*! http://responsiveslides.com v1.51 by @viljamis */

#sliderContainer{
  position: relative;
  width: 100%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*navigation*/
.rslides_nav {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 3;
  opacity: 0.7;
  width: 40px;
  height: 60px;
  background: transparent url("../img/img_slider_navi.gif") no-repeat left top;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
}
.rslides_nav.next {
  left: auto;
  right: 0;
  background-position: right top;
  }
.ie7 .rslides_nav.next{
  background-position-x: -36px;
}
/*caption*/
.rslides .caption {
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 5px 10px;
  background: #000;
  background: rgba(0,0,0, 0.8);
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
}
/*pager*/
.rslides_tabs {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.rslides_tabs .rslides_here a {
  background: #18445c;
  background: -webkit-linear-gradient(top, #18445c, #113041);
  background: -moz-linear-gradient(top, #18445c, #113041);
  background: -o-linear-gradient(top, #18445c, #113041);
  background: linear-gradient(to bottom, #18445c, #113041);
  color: #fff;
}
.rslides_tabs li {
  display: inline-block;
  margin: 0 10px;
}
.ie7 .rslides_tabs li{
  display: inline;
  padding: 0 10px;
}
.rslides_tabs a {
  display: inline-block;
  padding: 5px 23px;
  border: 1px #e6e6e6 solid;
  border-radius: 5px;
  background: #e5e5e5;
  background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
  background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
  background: -o-linear-gradient(top, #ffffff, #e5e5e5);
  background: linear-gradient(to bottom, #ffffff, #e5e5e5);
  color: #333;
  text-decoration: none;
}

@media only screen and (min-width: 41.875em) {  /*670px*/
  .rslides_nav {
    display: block;
  }
}
