@charset "UTF-8";

/*---------------------------------
Travel Spice  Tour styleSheet
----------------------------------*/
#tourTable thead{
  display: none;
}
#tourTable td,
#tourTable th{
  display: block;
}
#tourTable th{
  text-align: left;
}
#tourTable tr td:nth-of-type(1) img{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  box-shadow:  0 0 3px 0 #000;
}
#tourTable tr td:nth-of-type(2):before{
  content: "[日数]";
}
#tourTable tr td:nth-of-type(3):before{
  content: "[料金]";
}
#tourTable tr td:last-child{
  margin-bottom: 2em;
}
.ie9 #tourTable td,
.ie9 #tourTable th{
  float: left;
  width: 100%;
}

@media screen and (min-width:41.875em) {  /*670px*/
  #tourTable{
    border-collapse: collapse;
  }
  #tourTable thead{
    display: table-header-group;
  }
  #tourTable thead td{
    background: #18445c;
    color: #fff;
    text-align: center;
  }
  #tourTable td,
  #tourTable th{
    display: table-cell;
    padding: 5px;
    border: 1px #ccc solid;
  }
  .ie9 #tourTable td,
  .ie9 #tourTable th{
    float: none;
    width: auto;
  }
  #tourTable tr td:nth-of-type(2),
  #tourTable tr td:nth-of-type(3){
    white-space: nowrap;
  }
  #tourTable tr td:nth-of-type(2):before,
  #tourTable tr td:nth-of-type(3):before{
    content: "";
  }
}