@charset "UTF-8";
/*初期設定
----------------------------------------------------*/
body {
  min-width: 320px;
  background: url(../img/bg_body.png);
  line-height: 1.5;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}
.ie8 img{
  width: auto;
}
/*clearfix*/
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*layout
----------------------------------------------------*/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
}
header {
  margin-bottom: 1.5em;
}
header h1 {
  line-height: 1.1;
  font-size: 3em;
  font-weight: normal;
  font-family: 'Marcellus SC', serif;
  color: #000;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  width: 50%;
  border-bottom: 1px solid #0b1900;
  background: #1d4000;
  background: -webkit-linear-gradient(top, #1d4000, #183400);
  background: -moz-linear-gradient(top, #1d4000, #183400);
  background: -o-linear-gradient(top, #1d4000, #183400);
  background: linear-gradient(to bottom, #1d4000, #183400);
  font-family: 'Marcellus SC', serif;
  letter-spacing: 0.1em;
  text-align: center;
}
nav ul li a {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
}
.ie7 ul{
  background: #1d4000;
}
.ie7 ul li{
  width: 49.84375%;
}
nav ul li:nth-child(odd) a {
  border-right: 1px solid #0b1900;
}
#content {
  padding: 0 10px;
}
article h2 {
  margin: 0.5em 0;
  padding: 0 0 0 10px;
  border-left: 3px solid #000;
  line-height: 1.1;
  font-size: 2em;
  font-weight: normal;
}
article section {
  margin-bottom: 2em;
}
aside{
  margin-bottom: 2em;
  background: rgba(255,255,255,0.8);
}
aside h3 {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: normal;
}
aside section{
  padding: 10px;
  font-size: 0.875em;
}
footer {
  clear: both;
  padding: 30px 0;
  background: #1a1603;
  color: #fff;
  text-align: center;
}

/*media Queries
----------------------------------------------------*/
@media only screen and (min-width: 600px) {
  header h1 {
    line-height: 1.5;
  }
  nav ul li {
    width: 25%;
  }
  .ie7 nav ul li{
    width: 24.9166%;
  }
  nav ul li a {
    border-right: 1px solid #0b1900;
  }
  nav ul li:last-child a {
    border-right: none;
  }
   /*old IE*/
  nav ul li.last a{
    border-right: none;
  }
  #content {
    padding: 0 20px;
  }
  #content article{
    float: left;
    width: 65.9574%;
    /*620px(8column)/940px*/
  }
  #content aside{
    float: right;
   width: 31.9148%;
    /*300px(4column)/940px*/
  }
}
@media only screen and (min-width: 960px) {
  #content{
    padding: 0;
  }
}
